* {
    box-sizing: border-box;
}


html {
    font-size: .9rem;
}

body {
    text-align: center;
    margin: 0;
    color: #252525;
    font-family: 'Roboto Serif', serif;
    background-color: #252525;
}

/* *************************************
Typography
************************************* */

h1 {
    font-weight: 300;
    font-size: 2rem;
}


a {
    color: #99d930;
    text-decoration: none;
}

a:hover,
a:focus {
    color: yellow;
}

.main-page-link {
    color: #99d930;
}

.section-title {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -220px;
    position:absolute;
}

/* *************************************
LAYOUT
************************************* */

header {
    background-color: #252525;
    color: rgb(255, 255, 255);
    padding-top: .35em;
    padding-bottom: 3em;
}


.projects-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-card {
    border-radius: 5%;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 370px;
    height: 200px;
    margin-bottom: 1em;
}

.project-title {
    /* position: fixed;  */
    font-weight: bold;
    opacity: 0;
    text-align: center;
}

.pr-language {
    color: rgb(3, 119, 9);
    text-shadow: 0 0 25px #dae2e2;
}

.project-name {
    color: rgb(4, 4, 82);
    font-size: 1.3rem;
    text-shadow: 0 0 15px #dae2e2;
}

.view-more {
    text-decoration: none;
    color: rgb(5, 0, 0);
    border: 1px solid rgb(4, 4, 82);
    background-color: rgb(194, 194, 247);
    border-radius: 5px;
    padding: .5em;
    cursor: pointer;
    opacity: 0;
    scale: 1;
    transition: opacity 0s, scale 0.8s;
    font-weight: bold;
}

.view-more:hover,
.view-more:focus {
    scale: 1.1;
    color:rgb(4, 4, 82);
    font-weight: bold;
    background-color: #99d930;
}




.back-card { 
    opacity: 1;
    transition: opacity 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}


.back-card:hover {
    opacity: .8;
}

.back-card:hover .view-more {
    opacity: 1;
    animation: fadeVisibility 1.5s;
}

.back-card:hover p {
    opacity: 1;
    animation: fadeVisibility 1.5s;
}

.back-card:hover {
    background-color: rgb(241, 141, 141);
    background-blend-mode:hue;
}

.back-card:hover .pr-language {
    margin-top: 0;
}

/* *************************************
Backgrounds
************************************* */


.emojis-background {
    background-image: url(images/PorjectScreens/Emojis.PNG);
}

.responsive-page-background {
    background-image: url(images/PorjectScreens/responsivePG.PNG);
}

.responsive-BBQ-background {
    background-image: url(images/PorjectScreens/BBQ.PNG);
}

.responsive-Elephants-background {
    background-image: url(images/PorjectScreens/Elephants.PNG);
}

.web-pages-background {
    background-image: url(images/PorjectScreens/web-pages-background.png);
}

.applications-background {
    background-image: url(images/PorjectScreens/applications-background.png);
}

.games-background {
    background-image: url(images/PorjectScreens/games-background.png);
}

.simple-page-background {
    background-image: url(images/PorjectScreens/simplePage.PNG);
}

.carousel-background {
    background-image: url(/images/PorjectScreens/carousel.png);
}

.overlay-background {
    background-image: url(images/PorjectScreens/overlay.PNG);
}

.card-background {
    background-image: url(images/PorjectScreens/card.PNG);
}

.chrome-extension-background {
    background-image: url(images/PorjectScreens/chromeExtension.PNG);
}

.search-bar-background {
    background-image: url(images/PorjectScreens/searchBar.PNG);
}

.emojis-background {
    background-image: url(images/PorjectScreens/Emojis.PNG);
}

.counter-app-background {
    background-image: url(images/PorjectScreens/CounterAPP.PNG);
}

.memory-game-background {
    background-image: url(images/PorjectScreens/memoryGame.PNG);
}

.mole-game-background {
    background-image: url(images/PorjectScreens/moleGame.PNG)
}

.dice-game-background {
    background-image: url(images/PorjectScreens/DiceGame.PNG);
}

.blackJack-game-background {
    background-image: url(images/PorjectScreens/BlackJack.PNG);
}

.war-game-background {
    background-image: url(images/PorjectScreens/gameOfWar.PNG);
}

.snake-game-background {
    background-image: url(images/PorjectScreens/snakeGame.PNG);
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 800px) {

    html {
        font-size: larger;
    }

    .projects-container {
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .back-card {
        width: 100%;
        width: 30%;
        height: 40vh;
    }

    .section-title {
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: -300px;
        position:absolute;
    }


}